<div class="container">
        <hr/>
        
        <div class="row">
            
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-12">
                        <h4>Your Account</h4>
                    </div>
                    
                    <div id="profile-menu" class="col-md-12">
                        <%= render :partial => '/users/agent_menu' %>
                    <hr/>
                    </div>
                </div>
            </div>

            <div class="col-md-1 auction-chevron-navigation">
                <div class="row">
                    <div class="col-md-6">
                        <%= link_to new_user_auction_path(current_user.id) do %>
                        <i class="fa fa-chevron-circle-left" style="font-size:30px; color: #EF6C00"></i>
                        <% end %>
                    </div>
                        
                    <div class="col-md-6">
                        <i class="fa fa-chevron-circle-right" style="font-size:30px; color: #C0C0C0;"></i>
                    </div>
                </div>
            </div>
            
            <div id="user-auction-list" class="col-md-12 last-profile-section">

                <!-- -->
                <div class="row">
               
                </div>
                <!-- -->

            </div>
        
      </div>
</div>