<ul class="profile-navigation">
    <li><%= link_to "Company Profile", edit_user_path(current_user.id) %></li>
    <li><%= link_to "Add/Edit or Remove Auction", new_user_auction_path(current_user.id) %></li>
    <li><a href="#">Your Auction Site</a></li>
    <li><a href="#">Auction Confirmation Details</a></li>
</ul>