<%= form_for @user, :method => :put, :html => {class: "form"} do |f| %>
                                <div class="row">
                                    <div class="col-md-6">
                                      <div class="form-group">
                                        <%= f.password_field :password, class:"form-control", placeholder:"New Password*", autocomplete: "off" %>
                                      </div>
                                    </div>

                                    <div class="col-md-6">
                                      <div class="form-group">
                                        <%= f.password_field :password_confirmation, class:"form-control", placeholder:"Password Confirmation*", autocomplete: "off" %>
                                      </div>
                                    </div>
                                </div>

                                

                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                          <%= f.submit "UPDATE PASSWORD", class:"form-control" %>
                                        </div>
                                    </div>
                                </div>
<% end %>