<div class="">
        
        <div id="search-filter-container" class="container-fluid">
          
          <div id="search-filter" class="col-md-10">
            
            <!-- class="col-md-10 col-md-offset-1" -->
            
            <div id="search-filter-header-text">
              <h3 class="text-white">Discover your next property here.</h3>
            </div>
            
            <div id="search-filter-form-container">
              
              <form class="form">
                <div class="row">
                  
                  <div class="col-md-6">
                    <div class="form-group">
                      <input class="input-lg form-control" id="location" type="text" placeholder="Location">
                    </div>
                  </div>
                  
                  <div class="col-md-3">
                    <div class="form-group">
                      <input class="input-lg form-control" id="search-radius" type="text" placeholder="Search radius">
                    </div>
                  </div>
                  
                  <div class="col-md-3">
                    <div class="form-group">
                      <input class="input-lg form-control" id="property-type" type="text" placeholder="Property type">
                    </div>
                  </div>
                  
                </div>
                
                <div class="row">
                  
                  <div class="col-md-2">
                    <div class="form-group">
                      <input class="input-lg form-control" id="search-radius" type="text" placeholder="Search radius">
                    </div>
                  </div>
                  
                  <div class="col-md-2">
                    <div class="form-group">
                      <input class="input-lg form-control" id="search-radius" type="text" placeholder="Search radius">
                    </div>
                  </div>
                  
                  <div class="col-md-2">
                    <div class="form-group">
                      <input class="input-lg form-control" id="search-radius" type="text" placeholder="Search radius">
                    </div>
                  </div>
                  
                  <div class="col-md-3">
                    <div class="form-group">
                      <input class="input-lg form-control" id="search-radius" type="text" placeholder="Search radius">
                    </div>
                  </div>
                  
                  <div class="col-md-3">
                    <div class="form-group">
                      <button type="button" class="input-lg btn btn-default form-control button-submit"><i class=""></i> Search</button>
                    </div>
                  </div>
                  
                </div>
              </form>
              
            </div>
          </div>
          
        </div>
        
        <div id="marketing-message">
          <div class="container-fluid">
            <div class="col-md-12 text-center">
              <h3>Property Buying and Selling can be Stress-Free!</h3>
              <hr class="small-horizontal-line" />
              <br/>
              <div>
                <p>
                  Curabitur elementum urna eget eros iaculis ultricies. Integer dictum orci sed ligula pellentesque, vel fermentum leo finibus.</br>
                  Sed iaculis sapien egestas, mollis augue egestas, dapibus erat. Suspendisse porta sapien velit, eu auctor felis rutrum ut.</br>
                  Maecenas maximus tellus nulla, in finibus lacus imperdiet vel. Suspendisse pellentesque consectetur vehicula.</br>
                </p>
              </div>
          </div>
          </div>
        </div>
        
        <div id="property-categories">
          
          <div class="container-fluid">
            
              <div class="row">
              
                <div id="property-categorie-un" class="col-md-6 property-category no-padding">
                  <a class="property-category-link" href="">
                    <div class="property-category-overlay">
                      <div class="property-category-overlay-text-container">
                        <span class="property-category-overlay-description">RESIDENTIAL</span>
                      </div>
                    </div>
                  </a>
                </div>
         
                <div id="property-categorie-deux" class="col-md-6 property-category no-padding">
                  <a class="property-category-link" href="">
                    <div class="property-category-overlay">
                      <div class="property-category-overlay-text-container">
                        <span class="property-category-overlay-description">COMMERCIAL</span>
                      </div>
                    </div>
                  </a>
                </div>
                
                <div id="property-categorie-trois" class="col-md-6 property-category no-padding">
                  <a class="property-category-link" href="">
                    <div class="property-category-overlay">
                      <div class="property-category-overlay-text-container">
                        <span class="property-category-overlay-description">HOW IT WORKS?</span>
                      </div>
                    </div>
                  </a>
                </div>
                
                <div id="property-categorie-quatre" class="col-md-6 property-category no-padding">
                  <a class="property-category-link" href="">
                    <div class="property-category-overlay">
                      <div class="property-category-overlay-text-container">
                        <span class="property-category-overlay-description">SELL YOUR PROPERTY</span>
                      </div>
                    </div>
                  </a>
                </div>      
              
              </div>
            
          </div>
          
        </div>
        
        <div id="why-whoo-bid">
          
          <div class="container-fluid">
            <div class="row">
              <div class="container-md-12 text-center">
                <!-- -->
                <h3>Why Whoo Bid</h3>
                <hr class="small-horizontal-line" />
                  <br/>
                  <div class="row">
                    <div class="col-md-12">
                      <p>
                        Curabitur elementum urna eget eros iaculis ultricies. Integer dictum orci sed ligula pellentesque, vel fermentum leo finibus.</br>
                        Sed iaculis sapien egestas, mollis augue egestas, dapibus erat. Suspendisse porta sapien velit, eu auctor felis rutrum ut.</br>
                        Maecenas maximus tellus nulla, in finibus lacus imperdiet vel. Suspendisse pellentesque consectetur vehicula.</br>
                      </p>
                    </div>
                    
                    <div id="why-whoo-bid-item-container" class="col-md-12">
                      
                      <div class="row">
                        
                        <div class="col-md-3 why-whoo-bid-item">
                          <div class="why-whoo-bid-detail text-center">
                            <div class="why-whoo-bid-icon"><img src="icons/click.svg" class="why-whoo-bid-icon-img"/></div>
                            <div class="text">
                              <h4>
                                User friendly form
                              </h4>
                            </div>
                          </div>
                        </div>
                        
                        <div class="col-md-3 why-whoo-bid-item">
                          <div class="why-whoo-bid-detail text-center">
                            <div class="why-whoo-bid-icon"><img src="icons/gavel.svg" class="why-whoo-bid-icon-img"/></div>
                            <div class="text">
                              <h4>
                                Bringing the auctions to you
                              </h4>
                            </div>
                          </div>
                        </div>
                        
                        <div class="col-md-3 why-whoo-bid-item">
                          <div class="why-whoo-bid-detail text-center">
                            <div class="why-whoo-bid-icon"><img src="icons/tag.svg" class="why-whoo-bid-icon-img"/></div>
                            <div class="text">
                              <h4>
                                Innovating an out-of-date method of sale
                              </h4>
                            </div>
                          </div>
                        </div>
                        
                        <div class="col-md-3 why-whoo-bid-item">
                          <div class="why-whoo-bid-detail text-center">
                            <div class="why-whoo-bid-icon"><img src="icons/hand_shake.svg" class="why-whoo-bid-icon-img"/></div>
                            <div class="text">
                              <h4>
                                Fair independent service for both buyers and sellers
                              </h4>
                            </div>
                          </div>
                        </div>
                        
                      </div>
                    </div>
                  </div>
                <!-- -->
              </div>
            </div>
          </div>
          
        </div>
        
</div>