<% #if user_signed_in? %>
                  <li><%= #link_to 'PROFILE', "#" %></li>
                  <li><%= #link_to 'LOG OUT', destroy_user_session_path, method: :delete %></li>
                  <% #else %>